button.Botao, .Botao__Icon {
    width: 100%;
    height: 2rem;
    padding: 1.5rem 0;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-weight: bolder;

    border: none;
    color: var(--body_color);
    cursor: pointer;
}

.Botao__Icon {
    padding: 0;
    gap: 0;
    width: auto;
}

button.Botao {
    background: var(--body_background_primary);
}

button.Botao__Icon {
    background: var(--body_background_secundary);
}


button.Botao:hover {
    background: var(--link_color);
    color: white;
}

button.Select {
    color: var(--link_color);
}