.Box {
    width: 200px;
    padding: 1rem;

    border-radius: 1rem;
    color: var(--font);
    background: var(--bg);
    text-align: center;
    font-weight: 400;
  }

  .botoes__box {
    display: flex;
    gap: 1rem;
    padding: 0 .5rem;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--body_background_primary);
  }