.Container_MenuLateral {
    width: 100%;
    height: 50vh;

    background: var(--brand_grad);
}

div.Menulateral {
    height: 200px;
    padding: 3rem 0 1rem;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
}

.Nav_Logo {
    order: 1;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    transform: translateY(-5px);
}

.Nav_Botoes {
    order: 2;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.Nav__Pages button {
    background: var(--logo);
    border: none;
    border-radius: 2rem;
    padding: .3rem .7rem;

    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .8rem;
    cursor: pointer;
}

.Nav__Pages button.active {
    background-color: var(--active_dark);
    color: var(--bg);
}

.Nav__Pages button.active > .icon_Background{
    background: var(--active);
}

.Nav__Pages button.active > .icon_Background > svg{
    color: var(--bg);
}

.Nav__Pages {
    order: 3;
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon_Background {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--bg_light);

}
.icon_Background svg {
    color: var(--font_dark);
}

.Nav_Logo h1 {
    margin: 0;
    color: var(--logo);
    font-weight: bolder;
    font-size: 2.2rem;
    transform: translateY(12px);
}

@media (min-width: 910px) {

    .Container_MenuLateral .Menulateral {
        height: 100%;
        padding: 2.5rem;
        flex-direction: column;
        margin: 0;
      }
    
      .Nav_Logo {
        width: 100%;
        margin: 3rem auto;
      }
      
      .Nav__Pages {
        width: 100%;
        flex-direction: column;
        margin: 0;
        justify-content: start;
        align-items: start;
        flex-grow: 1;
        gap: 2rem;
      }
    
      .Nav_Botoes {
        order: 3;
        width: 100%;
        justify-content: space-between;
      }

      .Nav_Botoes button:nth-child(2) {
        order: 1;
      }

      .Nav_Botoes button:nth-child(1) {
        order: 2;
      }

    .Container_MenuLateral {
        height: calc(100vh - 32px);
        width: calc(100% - 32px);
        margin: 1rem;
        border-radius: 20px;
    }

    nav.Nav__Botoes {
        flex-grow: 0;
    }

    .Nav__Pages button {
        padding: 0;
        background: none;
        font-size: 1rem;
        color: var(--logo);
    }

    .Nav__Pages button.active {
        background: none;
        font-weight: 600;
    }
}