.Input__Filter {
    padding: 1rem .5rem 1rem 2.5rem;

    border: none;
    width: 16rem;
    border-radius: 6px;
    background: var(--body_background_primary);
    color: var(--body_color);
}

.Filter__Icon {
    position: relative;
}

.Input__Label {
    width: 16rem;

    border: 1px solid var(--body_color);
    border-radius: 4px;
}

.Input__Filter::placeholder {
    color: var(--body_color);
}

.Filter__Icon::before {
    content: '';
    display: block;
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    top: 1rem;
    left: .8rem;

    background: url('../../../assets/Icon/search.svg');
    background-position: center;
    background-size: cover;
}