.Input__Filter {
    padding: .8rem 1rem;
    width: 100%;
    border: none;
    border-radius: 2rem;
    background: var(--body_background_primary);
    color: var(--body_color);
}

.Filter__Icon {
    position: relative;
}

.Input__Label {
    border: 1px solid var(--font_light);
    border-radius: 2rem;
}

.Input__Label input{
    font-size: .9rem;
    text-align: center;
    font-weight: 400;
}

.Input__Filter::placeholder {
    color: var(--body_color);
    text-align: center;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@media (min-width: 910px) {
    .Input__Label {
        width: 16rem;
    }
    .Input__Filter {
        width: 16rem;
    }

    .Input__Filter::placeholder {
        text-align: start;
    }
}