button.Botao__Input {
    padding: .5rem;
    border-radius: .6rem;
    width: 100%;
    border: none;
    outline: none;

    font-size: 1rem;
    cursor: pointer;
}

.Verde {
    background: var(--link_color);
    color: white;
}

.Verde:hover {
    background: rgb(0, 53, 8);
}