button.Botao__Input {
    padding: .5rem;
    border-radius: 2rem;
    width: 100%;
    border: none;
    outline: none;

    font-size: 1rem;
    cursor: pointer;
    background: var(--brand);
    color: white;
}

button.Botao__Input:hover {
    background: var(--brand_dark);
}