form {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

h2 {
    font-size: 1.8rem;
    margin: .5rem 0;
}

.Login__SubTitle {
    text-align: justify;
    color: rgb(122, 122, 122);
}

.Link {
    color: rgba(0,98,15,1);
    text-decoration: none;
}

.Icon {
    position: absolute;
    top: 0.5rem;
    left: .7rem;
}