form {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

h2 {
    font-size: 1.8rem;
    margin: .5rem 0;
    text-align: center;
}

.Login__SubTitle {
    text-align: justify;
    color: rgb(122, 122, 122);
}

.Link {
    color: #;
    text-decoration: none;
}

.Icon {
    position: absolute;
    top: 0.5rem;
    left: .7rem;
}

.Link__Login {
    text-align: center;
}

.Messagem-Error {
    color: red;
    margin: 0;
    text-align: center;
}