div.Dashboard {
    font-weight: bolder;
    height: calc(100vh - 190px);
    margin-top: 190px;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    box-sizing: border-box;

    position: absolute;
    top: 0;
    gap: 2rem;
}

.title h1 {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: start;
    margin: 0;
}

.title p {
    font-size: .9rem;
    font-weight: 300;
    margin: .5rem 0;
}

.Container_Graficos {
    width: 90%;
    margin: 0 auto;
}

.Box_Total {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.BoxDashBoard {
    background: var(--bg);
    padding: 2rem 1.5rem;
    border-radius: 20px;
    box-shadow: var(--shadow_bg);
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
}

div.Grafico {
    margin: 2rem 0 3rem;
    overflow-x: hidden;
}

.Grafico_Container {
    display: flex;
    width: 100%;
    transition: transform .5s ease;
}

.Grafico h1 {
    position: absolute;
    top: 40%;
    left: 40%;
    text-align: center;
    width: 60px;
}

.Grafico p {
    font-size: .8rem;
    margin: 0;
}

.Grafico_Select {
    padding: 1rem;

    background: var(--bg_light);
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    position: relative;
    width: 200px;
}

.Grafico_Select .switch {
    width: 50%;
    height: 80%;
    top: .3rem;
    background: var(--brand_grad);
    z-index: 2;
    border-radius: 25px;
    position: absolute;
    transition: transform .25s ease-in;
}

.Grafico_Select button {
    z-index: 3;
    background: transparent;
    border: none;
    transition: color .3s ease-in;
    cursor: pointer;
}

.Grafico_Select .switch.cidades {
    transform: translateX(-43px);
}

button.off {
    color: var(--font_dark);
}

.Grafico_Select .switch.pessoas {
    transform: translateX(43px);
}

button.on {
    color: var(--logo);
}

.perfil {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.perfil .foto {
    background: url('../../assets/40273131.png') center;
    background-size: cover;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 2rem;
}

.perfil h2 {
    font-size: 1rem;
    font-weight: 600;
}

@media (max-width: 390px) {
    button .icon_Background {
        display: none;
    }
}

@media (min-width: 910px) {
    div.Container__Total {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    div.Dashboard {
        width: 100%;
        max-width: auto;
        padding: 1rem;
        position: relative;
        height: 100vh;
        margin: 0;
    }

    .BoxDashBoard {
        margin: 0;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
    }

    .Box_Total {
        flex-direction: row;
        gap: 2rem;
    }

    .containers_total {
        width: 260px;
    }

    .Container_Graficos {
        margin: 0;
        width: 100%;
        max-width: 550px !important;
        height: 100%;

        display: flex;
        flex-wrap: wrap;
        align-content: start;
        justify-content: start;
    }

    .Container_Graficos .title{
        width: 50%;
        height: fit-content;
    }

    .Container_Graficos .container_GraficoSelect {
        width: 50%;
        height: fit-content;
        display: flex;
        align-items: start;
        justify-content: end;
    }

    .Container_Graficos  .Grafico {
        height: 300px;
        width: 300px;
        margin: 0;
    }

    .perfil {
        justify-content: end;
        margin: 1rem 0;
    }
}