div.Dashboard {
    padding: 2rem;
    color: var(--link_color);
    font-weight: bolder;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

div.Container__Total {
    display: flex;
    background-color: var(--body_background_secundary);
    border-radius: 1rem;
}

div.Grafico {
    position: relative;
}

.Grafico h1 {
    position: absolute;
    top: 40%;
    left: 40%;
    text-align: center;
    width: 60px;
}

.Grafico p {
    font-size: .8rem;
    margin: 0;
}

div.Container__Total {
    padding: 2rem;

    display: inline-flex;
    text-align: center;

    box-shadow: 0px 0px 16px var(--shadow-box);
}