form {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

h2 {
    font-size: 1.8rem;
    margin: .5rem 0;
    text-align: center;
}

.Icon {
    position: absolute;
    top: 0.5rem;
    left: .7rem;
}

.Link__Login {
    text-align: center;
}