.Container__Filtro {
    display: flex;
    flex-direction: column;

    margin: .5rem 0;
    gap: 1rem;
}

.table_pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    box-sizing: border-box;
}

.table_pages:hover {
    box-shadow: var(--shadow-box);
}

.pages_button {
    border: none;
    border-radius: 2rem;
    height: 1.5rem;
    width: 1.5rem;

    cursor: pointer;

    background: var(--font_light);
    color: var(--bg);

    font-weight: 400;
}

.Prevs {
    border: none;
    background: none;

    height: 1.5rem;
    width: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--font_light);
}

.Prevs:hover,
.Prevs:active {
    color: var(--brand);
}


.pages_button.Selecionado {
    background: var(--brand);
    color: var(--bg);
    font-size: 1rem;
}

.area_loader {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 60px;
    height: 20px;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side,var(--link_color) 90%,#0000) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
  }
  @keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}

  .fundo {
    position: absolute;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    top: -190px;
    left: 0;

    background: rgba(0, 0, 0, 0.425);
    backdrop-filter: blur(3px);
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 910px) {
    .Container__Filtro {
        gap: 1rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .Container__Filtro .Botao__Input {
        width: fit-content;
        padding: .8rem 2rem;
    }

    .table_pages {
        justify-content: center;
        gap: 1rem;
    }

    .fundo {
        top: 0;
    }
  }