button.Botão__Table {
    height: 2rem;
    width: 2rem;
    background: none;
    border: none;
    
    cursor: pointer;
}

table.Table {
    width: 100%;
}

tr {
  display: flex;  
  align-items: center;
  padding: .5rem;
}

.table__head,  {
    flex-grow: 1;
}

.table__head.end {
    flex-grow: 3;
}

tbody {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex-wrap: wrap;
}

tr.table__body {
    box-shadow: 0px 0px 16px var(--shadow-box);

    background-color: var(--body_background_secundary);
    border-radius: .5rem;
    color: var(--body_color);
}

th.table__head {
    text-align: start;
}

td.table__acoes {
    display: flex;
}