@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --body_background: white;
    --body_background_secundary: #eee;
    --body_color: #818181;
    --link_color: #00a519;
    --shadow-box: #00000013;
}

[data-theme="dark"] {
    --body_background_primary: #161625;
    --body_background_secundary: #100e1b;
    --body_color: #fff;
    --shadow-box: #00000066;
}

* {
    transition: all .1s ease-in-out;
}

h1, h2, strong {
    color: var(--link_color);
}

body {
  margin: 0;

  background: var(--body_background_primary);
  color: var(--body_color);
}

.App {
  display: grid;
  grid-template-columns: 1fr 5fr;
}