@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --logo: white;
    --bg: #FFFFFF;
    --bg_light: #EEEEEE;
    --font_light: #A5A5A5;
    --font_dark: #474747;
    --brand: #2C76FF;
    --brand_dark: #0039B4;
    --brand_box: #2c76ff41;
    --brand_grad: linear-gradient(-23deg,#0039B4 0%,#2C76FF 100%);
    --shadow_bg: 0px 0px 11px rgba(0, 57, 180, 0.15);
    --active: #FFCC00;
    --active_dark: #002169;
}

[data-theme="dark"] {
  --bg: #1E1E1E;
  --bg_light: #EEEEEE;
  --font_light: #d8d8d8;
  --font_dark: #a7a7a7;
  --brand: #C940FF;
  --brand_dark: #780091;
  --brand_box: #c32cff41;
  --brand_grad: linear-gradient(-23deg,#780091 0%, #C940FF 100%);
  --shadow_bg: 0px 0px 11px hwb(286 56% 11% / 0.25);
  --active: #E6B205;
  --active_dark: #660069;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

strong {
    color: var(--brand);
}

h1,h2,h3,h4 {
  color: var(--font_dark);
}

body {
  background: var(--bg);
  color: var(--font_light);
}

.App {
  display: block;
}

.max_Width {
  max-width: 500px;
  width: 90%;
}

@media (min-width: 910px) {
  .App {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100vw;
  }

  .max_Width {
    max-width: 100%;
    width: 100%;
  }

  .Container_Login {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
  }

}